# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.ids
*.orig

**/build/
**/out/
**/dist/
**/target/
**/tmp/
**/temp/

# Raw / obfuscated jars
**/*-raw.jar
**/*-obf.jar
Moths.jar


# Obfuscator + tool jars
**/tools/*.jar

# Local libs
**/lib/*.jar

# Allatori / other obfuscator logs & mappings
renaming-log.xml
**/renaming-log.xml
allatori-*.xml.log
*.mapping
*.map
*.obf
*.obfuscation.log

# Manifest you might generate manually
MANIFEST.MF

# Crash / error logs
hs_err_pid*.log
replay_pid*.log

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Build output
/out/

# Artifacts
/.idea/artifacts/

# Java JARs (uncomment to ignore all JAR files globally)
# *.jar

